body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.card {
  border: 4px solid black;
  width: 650px;
  padding: 30px;
  margin: 40px auto;
}

.left-side {
  float: left;
  margin-right: 30px;
}

.profile-img {
  width: 140px;
  height: 140px;
  border-radius: 70px;
}

.right-side {
  overflow: hidden;
}

.right-side h1 {
  margin: 0 0 10px 0;
}

.subtitle {
  margin: 0 0 20px 0;
}

.right-side p {
  margin: 4px 0;
}

.bottom-images {
  display: flex;              /* stavi u isti red */
  justify-content: left;    /* centriraj vodoravno */
  align-items: center;  
  margin-top: 20px;
}

.small-img1 {
  width: 80px;
  height: 80px;
  margin-right: 30px;
  
}

.small-img2 {
  width: 100px;
  height: 70px;
  margin-right: 30px;
}


.drugi{
    background: #FFE8BD;
    border: solid#31798F;
    border-radius: 2in 2in 0 0;
    margin: 45 45%45 80;
    *{
        margin: -40 -140 0 60;
    }
}